.icon-container {
    border-radius: 50%;
    padding: 8px;
    width: 40px;
    height: 40px;
    transition: background-color 0.3s ease-in-out;
}

.icon-container:hover {
    background-color: var(--chakra-colors-gray-200);
}

[data-theme='dark'] .icon-container:hover {
    background-color: var(--chakra-colors-gray-700);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --color-primary: #eb5b5b;
    --color-secondary: #363d58;
    --color-success: #7ed321;
    --color-info: #01a3df;
    --color-warning: #f18624;
    --color-danger: #be4c46;
    --color-light: #f2f2f2;
    --color-dark: #2e2e25;
}
